<!-- this code pulls through the head/footer/navbar -->
{% extends 'base.html' %}

<!-- wrap whatever header and body elements you want in these -->
{% block header %}

{% endblock%}


{% block body %}
  <div class="container-float">
    <!--Element One-->
    <div class="hero-img">
      <div>
        <h1>
          header
        </h1>
        <p>
          Paragraph
        </p>
      </div>
    </div>

    <!--Element Two-->
    <div>
      <h1>
        header
      </h1>
      <p>
        Paragraph
      </p>
    </div>

    <!--Element Three-->
    <div>
      <h1>
        header
      </h1>
      <p>
        Paragraph
      </p>
    </div>

    <!--Element Four-->
    <div>
      <h1>
        header
      </h1>
      <p>
        Paragraph
      </p>
    </div>
  </div>
{% endblock%}